<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.assistexample">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
    <activity android:name="VoiceInteractionMain" android:label="Voice Interaction"
        android:exported="true"
        android:theme="@android:style/Theme.Material">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <service android:name=".voice.InteractionService"
        android:exported="true"
        android:label="Test Voice Interaction Service"
        android:permission="android.permission.BIND_VOICE_INTERACTION"
        android:process=":interactor">
        <meta-data android:name="android.voice_interaction"
            android:resource="@xml/interaction_service" />
        <intent-filter>
            <action android:name="android.service.voice.VoiceInteractionService" />
        </intent-filter>
    </service>
    <service android:name="MainInteractionSessionService"
        android:permission="android.permission.BIND_VOICE_INTERACTION">
    </service>
    <activity android:name="TestInteractionActivity" android:label="Voice Interaction Target"
        android:exported="true"
        android:theme="@android:style/Theme.Material.Light">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.VOICE" />
        </intent-filter>
    </activity>

    </application>

</manifest>